<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Event Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='ceaa_logo.png') }}" alt="Logo" class="logo">
    <h2>Enter Authentication Code</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST">
      <div class="form-group">
        <input type="text" name="code" id="code" required>
        <label for="code">Authentication Code</label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <footer class="footer">
    <p><i class="fa-regular fa-copyright"></i> 2025 Engineering Freshman Orientation. Developed by Ulhric James O. Lim.<br>
      Vice President - Internal of MicroSociety and CpE Board Member of CEAA<br>
      All rights reserved.</p>
  </footer>
</body>
</html>
